{% if language_access_header %}
  {% set site_url = url('<current>') %}
  {% set noprotocolsite_url = site_url|render|render | split('//') | last %}
  {% set subdomains = [
    'es.',
    'zh.',
    'fr.',
    'ar.',
    'bn.',
    'yi.',
    'ur.',
    'ru.',
    'pl.',
    'ht.',
    'it.',
    'ko.',
  ] %}

  {% if noprotocolsite_url | slice(0,3) | lower in subdomains %}
    {% set npArr = noprotocolsite_url | split('.') %}
    {% set npArr = npArr | filter((v, k) => k != 0) %} {# remove first element, in this case the subdomain #}
    {% set noprotocolsite_url = '' %}
    {% for key,value in npArr %}
      {% if key == 1 %}
        {% set noprotocolsite_url = value %}
      {% else %}
        {% set noprotocolsite_url = noprotocolsite_url ~ '.' ~ value %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <div id="translate-wrap">
    {% set langnav = 'langnav_header' %}
    {% include 'nys-unav-smartling.html.twig' with {'langnav':langnav, 'noprotocolsite_url':noprotocolsite_url} %}
  </div>
{% endif %}
<div id="nygov-universal-navigation" class="nygov-universal-container" data-iframe="true" data-updated="2014-11-07 08:30">
  <noscript>
    <iframe width="100%" height="86px" src="//static-assets.ny.gov/load_global_menu/ajax?iframe=true" frameborder="0" style="border:none; overflow:hidden; width:100%; height:86px;" scrolling="no">
      Your browser does not support iFrames
    </iframe>
  </noscript>
  <script type="text/javascript">
    var _NY = {
      HOST: "static-assets.ny.gov",
      BASE_HOST: "www.ny.gov",
      hideSettings: false,
      hideSearch: false
    };
  </script>
</div>