<!-- uNav interactive footer -->
<div id="nygov-universal-footer">
  <noscript>
    <iframe width="100%" height="200px" src="//static-assets.ny.gov/load_global_footer/ajax?iframe=true" frameborder="0" style="border:none; overflow:hidden; width:100%; height:200px;" scrolling="no">
      Your browser does not support iFrames
    </iframe>
  </noscript>
</div>
<!-- end uNav interactive footer -->
{% if language_access_footer == '1' %}
  {% set site_url = url('<current>') %}
  {% set noprotocolsite_url = site_url|render|render | split('//') | last %}
  {% set subdomains = [
    'es.',
    'zh.',
    'fr.',
    'ar.',
    'bn.',
    'yi.',
    'ur.',
    'ru.',
    'pl.',
    'ht.',
    'it.',
    'ko.',
  ] %}

  {% if noprotocolsite_url | slice(0,3) | lower in subdomains %}
    {% set npArr = noprotocolsite_url | split('.') %}
    {% set npArr = npArr | filter((v, k) => k != 0) %} {# remove first element, in this case the subdomain #}
    {% set noprotocolsite_url = '' %}
    {% for key,value in npArr %}
      {% if key == 1 %}
        {% set noprotocolsite_url = value %}
      {% else %}
        {% set noprotocolsite_url = noprotocolsite_url ~ '.' ~ value %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <div id="footer-translate" class="footer-translate">
    <div class="inside-wrap">
      <h3><a href="https://www.ny.gov/web-translation-services">Translation Services</a></h3>
      <p>This page is available in other languages</p>
      <div class="translation-menu">
        {% set langnav = 'langnav_footer' %}
        {% include 'nys-unav-smartling.html.twig' with {'langnav':langnav, 'noprotocolsite_url':noprotocolsite_url} %}
      </div><!--translation-menu-->
    </div><!--/inside-wrap-->
  </div><!--/footer-translate-->

{% endif %}